/* ============================ */
body .main-color {
  color: #fc6858;
}
body .bg-main-color {
  background-color: #fc6858;
}
.item-page.edit #com-content-formTabs > li:hover > a, .item-page.edit #com-content-formTabs > li.active > a, .main-menu ul.sunfw-tpl-menu > li.active:before, .main-menu ul.sunfw-tpl-menu > li:hover:before {
  background: #fc6858;
}
.link-action {
  color: #fc6858 !important;
}
.welcome h3 {
  color: #fc6858 !important;
}
.module-style-1 .module-title .box-title span:first-letter, .module-style-3 .module-title .box-title span:first-letter {
  color: #fc6858;
}
.module-style-1 .module-title .box-title:first-letter, .module-style-3 .module-title .box-title:first-letter {
  color: #fc6858;
}
.module-style-1 .module-title .box-title.title-special, .module-style-3 .module-title .box-title.title-special {
  background: #fc6858;
  border-left: 3px solid #fb3b26;
  border-bottom-color: #fc6858 !important;
}
.module-style-4 .module-title .box-title .module-style-2 .module-title .box-title {
  border-color: #da6b5e;
}
.footer .module-title:first-letter {
  color: #fc6858;
}
.item-student a {
  color: #fc6858;
}
.menu.menu-treemenu li.active > a {
  color: #fc6858;
}
.main-menu ul.sunfw-tpl-menu > li.active > a:before, .main-menu ul.sunfw-tpl-menu > li.active > span:before, .main-menu ul.sunfw-tpl-menu > li:hover > a:before, .main-menu ul.sunfw-tpl-menu > li:hover > span:before, .sunfw-scrollup {
  background: #fc6858;
}
.menu-topmenu ul li {
  border-bottom: 2px solid #fc6858;
}
.menu-topmenu ul li:hover {
  background: #fc6858;
  border: 1px solid #fc6858;
}
.main-menu .navbar-default .navbar-toggle {
  background: #fc6858;
  border-color: #fc6858;
}
.btn-border {
  border-bottom-color: #fc6858 !important;
}
ul.nav[class*='menu-treemenu'] li.current > a, .pagination > .active > a, div.pagination ul.pagination li a:hover {
  color: #fc6858;
}
.countdown-layout .pb-countdown__inner > [class*="pb-countdown__"] > span, .footer ul.nav.menu li a:hover, .blog-featured h2.item-title a:hover, .blog h2.item-title a:hover, .blog-featured .readmore .btn[class*="btn-"], .blog .readmore .btn[class*="btn-"], .kfrontend .btn-link, .pagination > li > a, .pagination > li > span {
  color: #fc6858;
}
.text-main-color {
  color: #fc6858 !important;
}
.text-main-color > span {
  color: #fc6858 !important;
}
.item-page.edit form#adminForm > .btn-toolbar .btn-group:first-child + .btn-group button.btn:not(.btn-primary) {
  border-bottom-color: #fc6858;
}
.module-title .box-title.title-special, .profile > .btn-toolbar > .btn-group > a.btn.btn-default, .profile-edit .control-group .controls .btn#helpsite-refresh, .carousel-indicators li.active, #finder-search button.btn + a[href="#advancedSearch"] {
  background: #fc6858;
}
.hover-icon a:hover {
  border-color: #fc6858 !important;
  color: #fc6858 !important;
}
.sunfw-social .social li i:hover {
  border-color: #fc6858;
  color: #fc6858 !important;
}
#finder-search button.btn:hover {
  background-color: #fc6858;
  border-color: #fc6858;
}
.accordion-style > .accordion__item[data-active="true"] {
  border-color: #fc6858 !important;
}
/* ============================ Sub Color ============================ */
.profile-edit .control-group .controls .btn#helpsite-refresh:hover, body .bg-main-color:hover {
  background-color: #ff270f;
}
.item-page.edit #com-content-formTabs > li.active > a {
  border-color: #ff270f;
}
#finder-search button.btn + a[href="#advancedSearch"]:hovers {
  background: #ff270f;
}
.module-title .box-title.title-special, .border-sub-color {
  border-color: #ff270f;
}
.text-main-color:hover, .link-action:hover {
  color: #ff270f !important;
}
.link-action:before {
  background: #ff270f;
}
a:hover, a.link:hover {
  color: #ff270f;
}
.btn-primary:active:hover, .sunfw-scrollup:hover, .sunfw-scrollup:focus {
  background-color: #ff270f;
}
