a {
  color: #26bdef;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #26bdef;
}
#sp-bottom2 span,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #26bdef;
}
#offcanvas-toggler >i:hover {
  color: #26bdef;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #26bdef;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
.social-links>a,
ul.social-icons >li a:hover {
  color: #26bdef;
}
.sp-page-title {
  background: #26bdef;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #26bdef;
}
.sp-module .letestnews >div >a {
  color: #000000;
}
.sp-module .letestnews >div >a:hover {
  color: #26bdef;
}
.sp-module .tagscloud .tag-name:hover {
  background: #26bdef;
}
.sp-simpleportfolio .sp-simpleportfolio-fiater > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-fiater > ul > li > a:hover {
  background: #26bdef;
}
.search .btn-toolbar button {
  background: #26bdef;
}
.post-formet {
  background: #26bdef;
}
.voting-symbol span.star.active:before {
  color: #26bdef;
}
.sp-reting span.star:hover:before,
.sp-reting span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #26bdef;
}
.at-team-item,
blockquote {
  border-color: #26bdef;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #26bdef;
}
#sp-footer {
  background: #26bdef;
}
.sp-comingsoon body {
  background-color: #26bdef;
}
.paginetion>li>a,
.paginetion>li>span {
  color: #000000;
}
.paginetion>li>a:hover,
.paginetion>li>a:focus,
.paginetion>li>span:hover,
.paginetion>li>span:focus {
  color: #000000;
}
.paginetion>.active>a,
.paginetion>.active>span {
  border-color: #26bdef;
  background-color: #26bdef;
}
.paginetion>.active>a:hover,
.paginetion>.active>a:focus,
.paginetion>.active>span:hover,
.paginetion>.active>span:focus {
  border-color: #26bdef;
  background-color: #26bdef;
}

.at-slider .tp-caption a,
.at-intro-item:hover i,
.at-feature-item:hover i,
.at-portfolio-button:hover,
.at-action-button:hover,
.at-table-item:hover button,
#at-pricing .single-table:nth-child(2) {
  background: #26bdef;
}
.at-about-content-item i,
.at-title h2,
.at-intro-item i,
.at-feature-item h4,
.at-table-item h3,
.at-service-item h4,
.at-service-item i:hover,
.at-table-item .table-price .price,
.at-table-item button:hover a,
.at-testimonial p.qx-designation,
.at-testimonial button {
  color: #26bdef; 
}
.at-feature-item:hover i,
.at-portfolio-button:hover,
.at-action-button:hover,
.at-table-item:hover,
.at-service-item .button-service,
.at-table-item button,
.at-subscribe-content table .button:hover {
  border-color: #26bdef;
}
/* Important */
.at-slider .tp-caption  b,
.at-team-item:hover p,
.at-about h4,
.at-title h6,
.at-title-1 h6,
.at-service-item:hover i,
.at-service-item:hover h3,
.at-service-item:hover h3,
.at-feature-item i,
.at-about-content i,
.at-team-item .social-links a,
.at-title h4,
.at-title-left h3 b,
.at-title-boder,
.at-team-item .qx-person-position,
.at-about h5,
.at-title-left h4,
.tp-caption.medium_text, .medium_text,
.cms-divider-inner h3 a,
.cms-divider-inner h3 a i,
.title-service h3,
.at-blog div.k2ItemsBlock ul li a,
.at-services-item:hover i,
.at-services-item:hover h4 {
  color: #26bdef!important; 
}
.at-contact #sp-quickcontact-form .button:hover,
.projects-fiater a.selected,
 .at-why-chose-item i,
 .at-counter,
 #at-testimonial .button:hover,
 #at-feature .at-button:hover,
.at-service-item .button-service,
 .at-pricing-item .table-footer,
 .at-pricing-item .table-heading,
 .at-we-do-item .qx-progress-bar,
 .at-allowing,
.vm-button-correct, 
span.addtocart-button input.addtocart-button,
 .qx-btn,
#sp-section-1,
.at-we-do-item i,
 html input[type=button],
 input[type=submit],
.at-course-sub .course-info span a, 
.at-contact-item i,
.view-quizzes table tbody tr td a,
.ariQuizQuestionTitle,
.at-contact-form button,
.at-subscribe-content table .button:hover {
  background: #26bdef!important;  
}
.project-wrapper .btn-go-back,
.sticky-wrapper.is-sticky #sp-header,
.at-title-business,
.btn-primary, 
.sppb-btn-primary,
.projects-filter a:hover,
.at-slider .tp-caption .at-slider-button:hover,
body.itemid-437 #sp-header {
  background-color:#26bdef!important;  
}
.qx-btn,
#at-pricing .single-table,
.at-contact #sp-quickcontact-form .button:hover,
.at-service-item:hover,
.vm-button-correct, 
span.addtocart-button input.addtocart-button,
.at-contact-item i,
 html input[type=button],
 input[type=submit],
.at-service-item,
.btn-primary, 
.sppb-btn-primary,
.sp-megamenu-parent >li.active>a, .sp-megamenu-parent >li:hover>a, .sp-contact-info li,
.at-title-boder:before,
.at-we-do-item i {
  border-color: #26bdef!important; 
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , #26bdef54 0%, #26bdef80 100%)!important;
}
.at-about-item h3 {
   color: #26bdef45!important
}