/* Title */
#sp-section-2 {
  background-color:#fff;
  position: relative;
  z-index: 99;
}
.sp-contact-info li {
    font-size: 110%!important;
    font-weight: 900;
    text-transform: uppercase;
}
#sp-section-1 {
    background: #ffab00;
    position: relative;
    padding: 7px;
    z-index: 99;
}

.sp-contact-info li {
  margin: 0 11px!important;
}
ul.social-icons >li {
  margin: 5px 19px!important;
}
#sp-section-1 a {
  color: #fff;
}
#sp-section-1 ul.social-icons >li a {
  color: #463535!important;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #333!important;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a,
.sp-contact-info li {
  color: #fff!important;
}
#sp-top2 .sp-contact-info ul li i a {
  color: #ffffff!important;
}
#sp-main-body {
  padding: 0!important;
}
#sp-bottom2 a {
  color:#ffffff!important;
}
body.itemid-437 #sp-header {
 box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
}
.sp-megamenu-parent >li.active>a, .sp-megamenu-parent >li:hover>a, .sp-contact-info li {
    color:#fff!important;
}
.sticky-wrapper.is-sticky #sp-header {
  background-color: #faf4ed!important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
}
.sticky-wrapper.is-sticky #sp-header .sp-megamenu-parent >li >a ,
.sticky-wrapper.is-sticky #offcanvas-toggler i  {
  color: #fff!important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
}
body.itemid-437 #sp-header .sp-megamenu-parent >li >a {
    color: #fff;
}
#sp-menu:before {
    background-color: #333;
    content: "";
    height: 100%;
    position: absolute;
    left: 301px;
    top: 0;
    width: 1280px;
    -webkit-transform: skew(-45deg);
    -khtml-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
}

body.com-users #sp-component {
    padding: 40px 70px 70px 70px;
}
#offcanvas-toggler >i {
    color: #fff;
    position: relative;
    z-index: 999;
    float: right;
    line-height: 90px;
}
#offcanvas-toggler >i:hover {
  color:#fff!important;
}
#projects-wrapper {
  padding-bottom:50px;
}
.at-title h2 {
  font-size: 45px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.at-title h6,
.at-title-1 h6 {
  color: #ffffff;
  margin-top: 0px;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
}
.at-title p {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
}
.at-title h3 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #9e6d54;
}
.at-title h2 {
  padding-bottom: 20px;
}
.at-title-boder {
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 2px;
}
.at-button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 0px!important;
  background-color: #333;
  border-color: 1px solid #333;
}
.qx-btn:before,
.qx-btn:hover {
  background-color: #000!important;
  border-color: #000!important;
}
.at-title p {
    color: #9b9c9c;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
}
/* Transition */
h1, h2, h3, h4, h5, h6, i, i:before, i:after  {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
}
/* Slider */
.at-slider {
  position: relative;
  top:0px;
}
.at-slider .tp-caption a {
  padding: 20px 65px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.at-slider .tp-caption a:hover {
  background-color:#333!important;
  border:1px solid #333!important;
}
.at-slider .tp-caption .button {
    padding: 12px 35px;
    font-size: 14px;
    text-transform: uppercase;
}
.at-slider .tp-caption .at-slider-button {
  background-color: #333!important;
  border:none!important;
}
.at-slider .tp-caption .at-slider-button:hover {
  border:none!important;
}
.at-slider .tp-caption a.button1 {
    background: none!important;
    border: 2px solid #227b9d;
}
.at-slider .tp-caption a.button1:hover {
    background: #333!important;
    border: 0px;
}
.at-slider .button:hover {
  background: #222;
}
.tp-button {
  padding: 10px 20px;
}
.qx-btn {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  padding: 11px 37px;
  font-size: 16px;
  background: none;
  line-height: 24px;
  border: 2px solid #e8e8e8;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -ms-transition:     all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
}
.qx-btn:hover {
  background-color: rgb(32, 35, 47)!important;
  color: rgb(255, 255, 255)!important; 
}
.qx-btn-defauat:hover {
  border-radius: 50px;
  background-color: rgb(32, 35, 47)!important;
  color: rgb(255, 255, 255)!important; 
}
.qx-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.42s, opacity 0.42s;
    border-radius: inherit;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}
.qx-btn:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
/***** Divider Title ****/
.cms-divider-title {
    left: 0;
    right: 0;
    z-index: 99;
}
.cms-divider-inner,
.cms-divider-inner-contact {
    display: inline-block;
    width: initial;
    padding-left: 70px;
    padding-right: 70px;
    min-width: 300px;
    text-align: center;
}

.skew-divider {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    margin-top: -37px;
    z-index: 999;
    width: 10000px;
    -webkit-transform: skew(-45deg);
    -khtml-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
}
.skew-divider-2 {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 999;
    width: 10000px;
    -webkit-transform: skew(45deg);
    -khtml-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
}
.skew-divider  h3 a{
  z-index: 99;
}
.cms-divider-inner h3 a {
    top: -35px;
    position: relative;
    z-index: 9999;
    font-size: 30px;
    font-weight: 700;
}
.cms-divider-inner h3 a i {
  padding-left: 10px;
}
.cms-divider-inner .second h3 a {
    top:0px;
    position: relative;
    z-index: 9999;
    font-size: 30px;
    font-weight: 500;
}
.cms-divider-inner,
.cms-divider-inner-contact {
    position: relative;
    min-height: 58px;
}
.skew-divider+* {
    position: relative;
}
.skew-divider-3 {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 446px;
    z-index: 999;
    width: 790px;
    -khtml-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(-45deg);
}
.cms-divider-inner-contact h3 a {
    top: -35px;
    position: relative;
    z-index: 9999;
    left: -427px;
    float: left;
    font-size: 30px;
    font-weight: 700;
}
/***** About*****/
.at-title-left h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.at-title-left h3 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
}
.at-title-left p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
}
.at-about-item h3 {
    font-size: 104px;
    line-height: 1;
    color: rgba(255, 171, 0, 0.2);
    position: absolute;
    top: 0;
    font-weight: 900;
}
.at-about-item h4 {
    color: #7d7a7a;
    position: relative;
    padding-top: 72px;
    font-size: 36px;
    padding-left: 25px;
    letter-spacing: 0.01em;
    font-weight: 700;
    
}
/**** Planing ****/
.at-planing-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: block;
}
.at-about-content .qx-media-body h3 {
    display: none!important;
    padding: 0px!important;
    margin: 0px!important;
}
#at-planing .qx-element-blurb {
  margin: 0px!important;
}
/****** Portfolio ******/
.at-portfolio-sub {
    margin-left: 0px!important;
}
.isotope-item {
    padding: 10px;
}
.at-portfolio-button:hover {
    color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-fiater > ul > li {
    margin: 5px;
}
.project-img img {
    width: 100%;
    border-radius: 20px;
}
.projects-wrapper .project-img .project-img-extra {
    border-radius: 20px;
}
.projects-fiater {
  text-align: center;
  display: inline-block;
}
.projects-fiater ul {
    display: inherit;
    line-height: 43px;
    margin: 0 auto;
}
.projects-fiater ul li {
    line-height: 40px;
    margin: 5px 0;
    display: static!important;
    float: left;
}
.projects-fiater a {
    padding: 8px 15px;
    border: 1px solid #fff;
}
.item-page .project-img {
  border: 5px solid #fff;
}
.pp-button {
  color: #fff;
  padding: 12px 40px;
  font-weight: 700;
}
.pp-button:hover {
  color: #fff;
  background: #666;
}
.projects-fiater a {
  width: 200px;
  display: inline-block;
  padding: 0;
  border-radius: 20px;
}
.projects-wrapper .project-img .project-img-extra h4 {
  color: #ffffff;
}
.projects-wrapper .project-img .project-img-extra .project-img-extra-content a {
    position: relative;
    color: #fff!important;
}
/**** Course ****/
.at-course-sub {
    width:31%; 
    margin-right:2%;
    background-color: #fff;
    border-bottom: 4px solid #26bdef;
    border-radius: 0px 0px 10px 10px;
}
.at-course-sub .course-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    opacity: .9;
}
.at-course-sub:hover .qx-element-button .qx-btn  {
    position: absolute;
    bottom: 150px;
    border-radius:50px;
    text-align: center;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    opacity: 1;
}
.at-course-sub .qx-element-button {
    position: absolute;
    z-index: 3;
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.at-course-sub:hover .qx-element-button {
    bottom: 40px;
    opacity: 1;
}
.at-course-sub .course-info span a {
  font-size: 20px;
  color: #fff;
  background: #26bdef;
  padding: 5px;
  border-radius: 57px;
}
.at-course-sub h3 {
  padding-bottom:10px;
  text-transform: uppercase;
  font-size: 18px;
}
.at-course-sub span.course-students {
  font-weight: bold;
  color: #8a8989;
  font-size: 17px;
}
/* Blog */
.entry-header h2 a {
    font-size: 30px;
    font-weight: 400;
}
div.sp-module .sp-module-title {
    font-size: 20px;
    font-weight: 400;
}
.sp-page-title {
    margin-bottom: 50px;
}
.at-blog div.k2ItemsBlock ul li {
  width: 32%;
  float: left;
  margin-right: 2%;
  position: relative;
  overflow: hidden;
}
.at-blog div.k2ItemsBlock ul li:nth-child(3n) {
  margin-right: 0;
}
.at-blog div.k2ItemsBlock ul li a {
  display: inherit;
  overflow: hidden;
  font-size: 20px;
  padding-bottom: 10px;
}
.at-blog div.k2ItemsBlock ul li img {
  width: 100%;
  margin-bottom: 15px!important;
  transition: all .40s linear;
  transform: scale(1.1);
}
.at-blog div.k2ItemsBlock ul li:hover img {
  transform: rotate(4deg)scale(1.2);
}
.at-blog ul li .moduleItemDateCreated {
  left: 0;
  display: block;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  color: #333;
}
.at-blog .at-portfolio-button {
  margin-top: 0!important;
}
.at-blog > div > p {
  clear: left;
}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
  float: left!important;
  width: 100%;
}
/**** Team ****/
.at-team-item {
    position: relative;
    cursor: pointer;
}
.at-team-item img {
     width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.at-team-item .qx-person-img:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 200px!important;
  opacity: 0.3;
  height: 100%;
  background: rgba(225, 225, 225, 0.6);
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.at-team-item .qx-person-description {
  text-align: center!important;
  padding-bottom: 22px;
  margin: 6px;
}
.at-team-item:hover img{
    transform: rotlte(5deg)scale(1.1);
     border-radius: 200px!important;
}
.at-team-item .qx-person-img {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
.at-team-item .qx-person-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 200px!important;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    transition: all .3s linear;
    z-index: 2;
}
.at-team-item:hover .qx-person-img:before {
    opacity: .7;
     border-radius: 200px!important;
}
.at-team-item .qx-person-position {
    font-size: 16px;
    transition: all .3s linear;
    color: #959191;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
}
.at-team-item:hover .social-links  {
    position: absolute;
    bottom: 150px;
    text-align: center;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    opacity: 1;
}
.at-team-item .social-links {
    position: absolute;
    z-index: 3;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.at-team-item:hover .social-links {
    bottom: 180px;
    opacity: 1;
}
.at-team-item .social-links a {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50px;
    background: #fff;
    color: #007dac;
    text-align: center;
    line-height: 38px;
    margin: 0 6px;
    display: inline-block;
}
.at-team-item .social-links a:before {
    font-size: 12px;
}
.at-team-item h4 {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
}

/* Footer */
#sp-footer1 {
  text-align: center;
}
#sp-footer2 {
  text-align: right;
}
/* Contact */
#at-contact-button {
  color: #fff;
  border: 0px!important;
  background: #333!important;
  padding: 15px 40px;
  border-radius: 50px;
}
#at-contact-button:hover {
  background: #ffffff!important;
  color: #333!important;
}
.at-contact-form .form-horizontal .control-label {
  text-align: left!important;
}
#at-contact {
    background-color: #fff;
    padding: 70px 55px 30px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    -khtml-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    -ms-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    z-index: 109;
    position: relative;
}
.form-horizontal .control-group {
    width: 32%;
    float: left;
    margin-right: 2%;
}
.form-horizontal .control-group:nth-child(3) {
    margin-right: 0;
}
.form-horizontal .control-group:nth-child(n+4) {
    width: 100%;
    margin-right: 0;
}
.form-horizontal textarea,
.form-horizontal input {
    background: none!important;
    text-align: center;
    color: #bebbbb!important;
    border-bottom: 1px solid!important;
    box-shadow: none!important;
}
.control-label {
    display: none;
}
.form-horizontal .controls {
    margin-left: 0!important;
}
.form-horizontal .controls:first-child {
    text-align: center;
}
.at-contact-item {
    cursor: pointer;
}
.at-contact-form label {
    color: #000;
}
.at-contact-form input {
    border-radius: 0!important;
    height: 40px!important;
    width: 100%;
}
.at-contact-form textarea {
    height: 100px!important;
    border-radius: 0!important;
    width: 100%;
}
.at-contact-form .qx-btn:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 0%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.at-contact-form .qx-btn:hover:before {
    width: 100%;
}
.at-contact-form .form-horizontal .control-group {
   margin-bottom: 32px;
}
.at-contact-form button:hover {
    background-color: #333;
    color: #fff;
}
.at-contact-form button:hover {
    color: #fff!important;
}
.qx-element-tabs .tabs>li a {
  color:#333;
}
#qx-element-contact-form-msg {
   color: #fff;
   margin-bottom: 20px;
}
.at-contact-item i {
    color: #ffffff;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    line-height: 59px;
    border-radius: 50px;
}
.at-contact-item i {
    padding-left: 15px;
    margin-top: 14px;
}
.cms-icon.icon-square i {
  display: inline-block;
}
#at-contact ul {
  padding: 0;
  margin: 0;
}
#at-contact ul li {
  display: inline-block;
}
#at-contact ul li i {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  left: 0;
  right: 0;
  line-height: 28px;
  background-color: #ddd;
  margin: auto;
  text-align: center;
}
.at-contact-item h4 {
 font-weight: 700;
}
#at-contact h3 {
  font-size: 25px;
  font-weight: 700;
}
#at-contact {
    margin-top: 90px;
    margin-bottom: -204px;
}
#at-contact ul li i.fa-facebook {
  background-color: #2a5187;
}
#at-contact ul li i.fa-twitter {
  background-color: #42c7f8;
}
#at-contact ul li i.fa-google-plus {
  background-color: #f13055;
}
#at-contact ul li i.fa-rss {
  background-color: #facf39;
}
#at-contact ul li i.fa-vimeo {
  background-color: #4288be;
}


/** RESPONSIVE **/

/* Screen min 1199px */
@media (min-width: 1200px) {
  .at-services-right,
  .at-about .at-title {
    padding-left: 60px;
    padding-right: 60px;
  }
  .qx-container {
    max-width: 100%!important;
}
 
}

/* Screen min 1199px */
@media (max-width: 1199px) {
  .at-services-right,
  .at-about .at-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Screen min  1210px and max 1550px */
@media (min-width: 1210px) and (max-width: 1550px) {
.cms-divider-inner h3 a {
    z-index: 9999;
    font-size: 20px!important;
    padding-right: 248px!important;
    font-weight: 700;
}
  .sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
    left:-260px!important;
}
}
/* Screen min 980px and max 1199px */
@media (min-width: 1200px) and (max-width: 1550px) {
  .at-services-right, .at-about .at-title {
      padding: 30px;
  }
  .at-services-content h2 {
      margin-bottom: 10px;
  }
  .sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
    left: -260px!important;
 }
  .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
    left: -332px;
    right: 0;
}
}
/* Screen min 980px and max 1199px */
@media (min-width: 980px) and (max-width: 1199px) {
  .at-about .at-title {
    padding-top: 40px;
    padding-bottom: 0!important;
    
  }
  .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
    left: -332px!important;
    right: 0;
  }
  .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
    left: -116px!important;
   }
  .at-services > div {
    width: 100%!important;
  }
  .sp-megamenu-parent >li >a, .sp-megamenu-parent >li >span {
    font-size: 13px!important;
  }
  .sp-megamenu-parent >li >a, 
  .sp-megamenu-parent >li >span {
    padding: 0 4px!important;
  }
  .at-service-content {
    padding-left: 0px!important;
  }
  #at-testimonial {
    margin-top: 0px!important; 
  }
  #at-choose-us .at-service-img img {
    width: 100%!important;
  }
  .at-skill img {
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 40px;
  }
  .at-contact-form input {
    width: 62%!important;
   }
  .at-contact-form textarea {
    width: 88%!important;
   }
  .at-skill {
    margin-top: 0px!important;
  }
  .at-choose-us-item {
    margin-left: 0px!important;
    padding-top: 0px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
    padding-bottom: 50px;
  }
  .at-team-item:hover h4 {
    bottom:202px!important;
  }
  .at-team-item:hover p {
    bottom:180px!important;
  }
  .at-team-item:hover .social-links {
    bottom: 140px!important;
  }
  #at-team {
   padding-top:40px!important;
 }
   body.itemid-437 #sp-header,
  #sp-header {
    background-color: #e2e2e2!important;
 } 
  #at-business img {
    width:100%!important;
  }
  #at-business .qx-element-text {
    padding-left:37px!important;
  }
 .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
    right: -49px!important;
}
#offcanvas-toggler >i {
    color: #fff;
    position: relative!important;
}
#sp-menu:before {
    left: 273px!important; 
}
.cms-divider-inner h3 a {
  font-size: 15px!important;
    margin-right: 221px!important;
}
.at-planing-sub-right {
    padding-right: 0px!important;
  }
.at-planing-sub-left {
    padding-left: 15px!important;
 }
.at-title-team {
    padding-left: 0px!important;
 }
#at-get-touch {
    display: none!important;
}
#at-contact {
    margin-bottom: 90px!important;
 }
}
/* Screen min 979px and max 781px */
@media (min-width: 768px) and (max-width: 979px) {
  .at-choose-us-item {
    margin-left: 0px!important;
    padding-top: 0px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .at-skill {
    margin-top: 0px!important;
  }
  .at-skill img {
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 40px;
  }
  .qx-hidden-xs {
    display: block!important;
  }
  .at-service-content {
    padding-left: 0px!important;
  }
  .at-service-bottom {
    position: inherit!important;
    top: 0px!important; 
  }
  .at-service-right img {
    padding-left: 15px;
    padding-right: 15px;
  }
  #at-testimonial {
    padding-top: 0px!important;
  }
  .at-about-item,
  .at-contact-item .qx-blurb-content,
  .at-service-item .qx-blurb-content {
      text-align: left!important;
  }
  .at-about-item .qx-media-left {
    text-align: center!important;
  }
  .at-about-item {
    text-align: left!important;
  }
  .at-team-item:hover h4 {
    bottom:100px!important;
  }
  .at-team-item:hover p {
    bottom:80px!important;
  }
  .at-team-item:hover .social-links {
    bottom: 250px!important;
  }
  .at-team-item .social-links a {
    width: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
  }
  #at-pricing .single-table {
    width: 32%!important;
    margin-bottom: 30px!important;
 }
  .at-slider {
    top: 0px!important;
   }
   #sp-right-menu {
      display:none!important;
   }
  .at-feature-sub {
    top: 31px!important;
  }
  .at-title p {
    text-align:center!important;
    margin-bottom:0px!important;
  }
  #at-custom {
    padding-bottom: 50px!important;
  }
  #at-team {
    padding-top:40px!important;
  }
  .at-calendar-item img {
    left:0px!important;
    right:0px!important;
    margin:auto;
  }
  .at-calendar-item {
    position: static;!important;
  }
 .at-title p {
     text-align:center!important;
     margin-bottom:0px!important;
  }
  .at-calendar-content p {
    text-align:center!important;
  }
  .at-calendar-content {
    position: relative;
    width: 100%!important;
  } 
  .at-calendar-hour {
    width:100%!important;
  } 
  body.itemid-437 #sp-header,
  #sp-header {
    background-color: #e2e2e2!important;
  }
  #at-business .qx-element-text {
    padding-left:37px!important;
  }
  #at-business img {
    width:100%!important;
  }
  .at-title h3 {
    font-size:45px!important;
    text-align:center!important;
  }
  #at-project .qx-element-button {
  text-align: center!important ;
  }
  #at-testimonial {
    margin-top: 0px!important; 
  }
  .at-planing-sub-right {
    padding-right: 0px!important;
  }
 .at-planing-sub-left {
    padding-left: 15px!important;
  }
 .at-title-team {
    padding-left: 0px!important;
  }
  #at-get-touch {
    display: none!important;
  }
  #at-contact {
    margin-bottom: 90px!important;
 }
.at-contact-form textarea {
    width: 79%!important;
}
.at-contact-form input {
    width: 51%!important;
}
.cms-divider-inner h3 a {
    font-size: 18px!important;
}
#offcanvas-toggler >i {
    color: #fff!important;
    z-index: 99999!important;
    position: relative!important;
} 
.at-course-sub .qx-btn {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    padding: 4px 20px!important;
    font-size: 10px!important;
}
  .at-course-sub:hover .qx-element-button .qx-btn {
    bottom: 110px!important;
  }
  .at-about-content .qx-blurb-content p {
    text-align:left!important;
  }
  .at-team-item .qx-person-img:before {
    background:none!important;
  }
  .at-team-item img {
    width: 50%!important;
  }
  #at-contact p {
    padding-right:60px!important;
  }
 .cms-divider-title {
    padding-bottom: 0px!important;
}
}
/* Screen max 767px */
@media (max-width: 767px) {
  .at-subscribe > div:first-child {
    padding-bottom: 0!important;
  }
  .at-action-title,
  .at-subscribe > div > div {
    text-align: left;
  }
  .at-blog div.k2ItemsBlock ul li {
    width: 100%;
    margin-right: 0;
  }
  .at-we-do img {
      width: 100%!important;
  }
  #at-pricing .single-table {
    width: 100%;
    margin: 20px 0;
  }
  .at-choose-us-item {
    margin-left: 0px!important;
    padding-top: 0px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .at-skill {
    margin-top: 0px!important;
  }
  .at-skill img {
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 40px;
  }
  .qx-hidden-xs {
    display: block!important;
  }
  .at-service-content {
    padding-left: 0px!important;
  }
  .at-service-bottom {
    position: inherit!important;
    top: 0px!important; 
  }
  .at-service-right img {
    padding-left: 15px;
    padding-right: 15px;
  }
  #at-testimonial {
    padding-top: 0px!important;
  }
  .at-about-item,
  .at-contact-item .qx-blurb-content,
  .at-service-item .qx-blurb-content {
      text-align: left!important;
  }
  .at-about-item .qx-media-left {
    text-align: center!important;
  }
  .at-about-item {
    text-align: left!important;
  }
  .at-team-item:hover h4 {
    bottom:320px!important;
  }
  .at-team-item:hover p {
    bottom:290px!important;
  }
  .at-team-item:hover .social-links {
    bottom: 240px!important;
  }
  .at-slider {
    top: 0px!important;
   }
  .at-feature-sub {
    top: 31px!important;
  }
  .at-title p {
    text-align:center!important;
    margin-bottom:0px!important;
  }
  #at-custom {
    padding-bottom: 50px!important;
 } 
  .at-calendar-item {
    position: static;!important;
 }
 .at-title p {
     text-align:center!important;
     margin-bottom:0px!important;
  }
  .at-calendar-content p {
    text-align:center!important;
  }
  .at-calendar-item img {
    left:0px!important;
    right:0px!important;
    margin:auto;
  }
  .at-calendar-content {
    position: relative;
    width: 100%!important;
  }
  .at-calendar-hour {
    width:100%!important;
  }
  body.itemid-437 #sp-header,
  #sp-header {
    background-color: #e2e2e2!important;
  } 
   .at-title-business h3 {
    font-size: 23px!important;
    text-align: center!important;
  }
  #at-business .qx-element-text {
    padding-left:37px!important;
  }
  .at-team-sub {
    width: 100%!important;
    margin-right:0px!important;
  }
  #at-counter img {
    display:none!important;
  }
  .at-team-item {
    margin-bottom:30px!important;
  }
  body.itemid-437 #sp-header,
   #sp-header {
    background-color: #e2e2e2!important;
  }
  #at-business img {
    width:100%!important;
  }
  .at-title h3 {
    text-align:center!important;
  }
  .at-title-left h3 {
    text-align:left!important;
  }
  #at-testimonial {
    margin-top: 0px!important; 
  }
   #sp-menu:before {
    background-color: #3330!important;
  }
  .cms-divider-inner h3 a {
    font-size: 17px!important;
  }
.at-title-left h3 {
    font-size: 21px!important;
}
.at-planing-sub-right {
  padding-right: 0px!important;
}
.at-planing-sub-left {
  padding-left: 15px!important;
}
.at-title-team {
  padding-left: 0px!important;
}
#at-about img {
  width: 100%!important;
}
.at-about-content .qx-blurb-content p {
  text-align: left!important;
}
#at-get-touch {
  display: none!important;
}
#at-contact {
    margin-bottom: 0px!important;
}
.at-contact-item i {
   padding-left: 0px!important;
}
.cms-divider-inner h3 a {
    font-size: 22px!important;
}
#offcanvas-toggler >i {
    color: #fff;
    z-index: 99999;
    position: relative;
}
.sp-contact-info li {
    font-size: 100%!important;
}
  .at-course-sub .qx-btn {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    padding: 4px 20px!important;
    font-size: 10px!important;
}
  .at-course-sub:hover .qx-element-button .qx-btn {
    bottom: 110px!important;
  }
}
/* Screen max 480px */
@media (max-width: 480px) {
   .at-slider {
     top: 0px!important;
   }
   #sp-right-menu {
     display:none!important;
   }
  .at-feature-sub {
    top: 31px!important;
  }
  .sp-contact-info li {
    font-size: 79%!important;
  }
  .at-choose-us-item {
    margin-left: 0px!important;
    padding-top: 0px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .at-skill {
    margin-top: 0px!important;
  }
  .at-skill img {
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 40px;
  }
  .qx-hidden-xs {
    display: block!important;
  }
  .at-service-content {
    padding-left: 0px!important;
  }
  .at-service-bottom {
    position: inherit!important;
    top: 0px!important; 
  }
  .at-service-right img {
    padding-left: 15px;
    padding-right: 15px;
  }
  #at-testimonial {
    padding-top: 0px!important;
  }
  .at-team-item:hover h4 {
    bottom:227px!important;
  }
  .at-team-item:hover p {
    bottom:207px!important;
  }
  .at-team-item:hover .social-links {
    bottom: 150px!important;
  }
  .at-title p {
    text-align:center!important;
    margin-bottom:0px!important;
  } 
  #at-custom {
    padding-bottom: 50px!important;
 } 
  #at-team {
   padding-top:40px!important;
 }
  .at-title-business h3 {
    font-size: 23px!important;
    text-align: center!important;
}
 #at-business .qx-element-text {
    padding-left:37px!important;
  }
 .at-team-sub {
    width: 100%!important;
    margin-right:0px!important;
}
  #at-counter img {
    display:none!important;
  }
  .at-team-item {
    margin-bottom:30px!important;
}
body.itemid-437 #sp-header,
  #sp-header {
   background-color: #000000!important;
 } 
  #at-testimonial {
    margin-top: 0px!important; 
  }
  #at-custom {
    padding-bottom: 50px!important;
  }
  .fullwidthbanner-container .fullwidthabanner {
    width: 100%!important;
  }
   #sp-menu:before {
    background-color: #3330!important;
 }
 .cms-divider-inner h3 a {
    font-size: 12px!important;
 }
 .at-title-left h3 {
    font-size: 21px!important;
 }
 .at-planing-sub-right {
  padding-right: 0px!important;
 }
 .at-planing-sub-left {
  padding-left: 15px!important;
 }
.at-title-team {
  padding-left: 0px!important;
}
#at-get-touch {
  display: none!important;
}
 #at-contact {
    margin-bottom: 70px!important;
}
.at-course-sub {
    width: 100%!important;
    margin-bottom: 30px!important;
}
#at-contact input[type="text"],
#at-contact input[type="email"] {
    font-size:8px!important;
}
.cms-divider-title {
    left: 0;
    right: 0;
    z-index: 99;
    padding-bottom: 0px!important;
}
}
  /* Screen max 375px */
@media (max-width: 375px) {
  .at-slider {
    top: 0px!important;
   }
  .at-feature-sub {
    top: 31px!important;
  }
  .fullwidthbanner-container .fullwidthabanner {
    width: 100%!important;
  }
   #rev_slider_1_1 {
    width: 100%!important; 
  }
  #at-testimonial {
    margin-top: 0px!important; 
  }
  #at-custom {
    padding-bottom: 50px!important;
  }
  #at-team {
    padding-top:40px!important;
  }
  .at-calendar-item img {
    left:0px!important;
    right:0px!important;
    margin:auto;
 }
 #at-contact {
    margin-bottom: 70px!important;
 }
  #at-get-touch {
  display: none!important;
 }
 .at-title p {
     text-align:center!important;
     margin-bottom:0px!important;
  }
  .at-calendar-content p {
    text-align:center!important;
  }
 .at-title-business h3 {
    font-size: 23px!important;
    text-align: center!important;
 }
 #at-business .qx-element-text {
    padding-left:37px!important;
  }
 .at-team-sub {
    width: 100%!important;
    margin-right:0px!important;
 }
  #at-counter img {
    display:none!important;
 }
 .at-team-item {
    margin-bottom:30px!important;
 }
 body.itemid-437 #sp-header,
  #sp-header {
   background-color: #000000!important;
 } 
 #sp-menu:before {
    background-color: #3330!important;
 }
.cms-divider-inner h3 a {
    font-size: 12px!important;
 }
.at-title-left h3 {
    font-size: 21px!important;
}
.at-planing-sub-right {
  padding-right: 0px!important;
}
.at-planing-sub-left {
  padding-left: 15px!important;
}
.at-title-team {
  padding-left: 0px!important;
}
.at-course-sub {
    width: 100%!important;
    margin-bottom: 30px!important;
}
 #at-contact input[type="text"],
 #at-contact input[type="email"] {
    font-size:8px!important;
  }
 .cms-divider-title {
    padding-bottom: 0px!important;
}
}
/*** Fix Quix ***/
@media (min-width: 1170px) {
    #rev_slider_2_2_wrapper {
        left: calc((50vw - 575px) * -1)!important;
        right: calc((50vw - 575px) * -1)!important;
    }
}

  #rev_slider_1_1 {
    width: 100%; 
 }
